# Copy this to .env and fill in your values
# Add these SAME values in Render → Environment Variables

DB_HOST=mysql-23fe0a41-disaster-preparedness-full-stack-project.l.aivencloud.com
DB_USER=avnadmin
DB_PASSWORD=YOUR_AIVEN_PASSWORD_HERE
DB_NAME=defaultdb
DB_PORT=23006
JWT_SECRET=your_random_secret_key_here
